<html ng-app="noteApp">
<head>
	<title>Test Title</title>
  <script src="lib/angular_scripts/angular.js"></script>
  <script src="lib/scripts/app.js"></script>
</head>
<body>
<div ng-controller="NoteListController as nlc">
  <h2>Add/Edit Notes</h2>
  
  <ul style='list-style:none;'>
    <li ng-repeat="(key, value) in notes">
      <p><span>{{value.value}}({{value.type}})</span><input type="button" ng-click="deleteNote(key)" value="X"/></p>
    </li>
  </ul>
  </br>
  Note Value: <input type="text" ng-model="new_note_value" /></br>
  Note Type:<select id='selectednotetype'>
    <option value='url'>URL</option>
    <option value='text'>text</option>
  </select>
  <input type="button" ng-click="addNote()" value="Add Note" />
   
</div>

<!--
<div ng-controller="FruitListController">
  <ul>
	<li ng-repeat="fruit in fruits">
		<span>{{fruit.name}}</span>
		<p>{{fruit.snippet}}</p>
	</li>
  </ul>
</div>
-->

</body>
</html>