<html ng-app="noteApp">
<head>
	<title>Test Title</title>
  <script src="lib/angular_scripts/angular.js"></script>
  <script src="lib/scripts/app.js"></script>
</head>
<body>
<div ng-controller="NoteListController as nlc">
  <h2>Add/Edit Notes</h2>
  
  <ul style='list-style:none;'>
    <li ng-repeat="note in notes track by $index">
      <p><span>{{note.noteid}}. {{note.value}}</span><input type="button" ng-click="deleteNote(note.noteid)" value="X"/></p>
    </li>
  </ul>
  <input type="button" ng-click="addNote()" value="Add Note" />
  </br>
  <input type="text" ng-model="new_note" style="margin-top:20px;display:{{noteInputBox}};" />
  
   
</div>

<!--
<div ng-controller="FruitListController">
  <ul>
	<li ng-repeat="fruit in fruits">
		<span>{{fruit.name}}</span>
		<p>{{fruit.snippet}}</p>
	</li>
  </ul>
</div>
-->

</body>
</html>